/* Appliquer flexbox sur le body pour aligner le contenu verticalement */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* background-color: #f9f9f9; */
}

/* Main prend toute la hauteur restante entre le header et le footer */
main {
  flex: 1;
  /* padding-top: 2rem; */
  background-color: #f9f9f9;
}

/* Footer peut être stylisé comme tu veux, mais il reste en bas */
/* footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
} */


  /* Supprimer le scroll horizontal */
  body {
    overflow-x: hidden;
  }


  h1.display-5 {
  font-family: 'Poppins', sans-serif;  /* Police plus moderne */
  font-weight: 700;
  color: #333; /* Couleur plus douce que le noir pur */
  letter-spacing: 1px;
}

p.lead {
  font-size: 1.2rem;
  line-height: 1.7;
  color: #555;  /* Gris plus doux */
}

.text-muted {
  color: #6c757d !important;  /* Un peu plus clair pour la lisibilité */
}
