  <!-- <link rel="stylesheet" href="style/footer.css"> -->
  
  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-2">
    <p>&copy; Dave Israël. Tous droits réservés.</p>
    <p>Suivez-moi sur les réseaux sociaux : 
      <a href="https://github.com/davycx10" target="_blank" class="text-white mx-2">Github</a> | 
      <a href="https://www.linkedin.com/in/davycx-1303802a8/" target="_blank" class="text-white mx-2">LinkedIn</a> | 
      <a href="CV/Dave_Israel_cv.pdf" target="_blank" class="text-white mx-2">Curriculum Vitae</a>
    </p>
  </footer>



</body>
</html>