
<div class="container py-5">
  <div class="row align-items-center">
    <!-- Partie texte -->
    <div class="col-lg-6 mb-4" data-aos="fade-right" data-aos-delay="200">
     
      <h1 class="display-5 fw-bold mb-4"> Bonjour et bienvenue !</h1>
        <p class="lead text-muted mb-4">
          Étudiant en deuxième année de <strong>BTS SIO</strong> en alternance, 
          je m’investis dans le <strong>développement logiciel</strong> tout en explorant 
          les <strong>technologies IoT</strong> et les systèmes embarqués, 
          qui représentent pour moi des perspectives d’avenir stimulantes.
        </p>


      <p class="text-muted mb-4">
        À travers ce portfolio, vous découvrirez mes <strong>projets</strong>, <strong>réalisations</strong> et les <strong>compétences</strong> que je développe chaque jour. Il s’inscrit dans le cadre de mon <strong>projet de fin d’année</strong> mais m’accompagnera aussi dans mon avenir professionnel.
      </p>

      <p class="text-muted mb-4">
        Mon objectif : <em>poursuivre au moins jusqu’à un BAC+3</em> afin de me spécialiser dans l’IoT, 
        et envisager de continuer jusqu’au BAC+5 pour accéder au domaine du développement embarquée.
      </p>


      <a href="index.html?page=Projets" class="btn btn-primary btn-lg px-4 me-2" data-aos="fade-up" data-aos-delay="500">
        Voir mes projets
      </a>
      <a href="index.html?page=Contact" class="btn btn-outline-secondary btn-lg px-4" data-aos="fade-up" data-aos-delay="600">
        Me contacter
      </a>
    </div>

    <!-- Partie image -->
    <div class="col-lg-6 text-center" data-aos="zoom-in" data-aos-delay="400">
      <img src="images/photo.png" alt="Photo de profil ou illustration" class="img-fluid rounded-4 shadow" style="max-height: 500px;">
    </div>
  </div>
</div>

<!-- certificat -->

<div class="container mt-5 mb-5 text-center">
  <h3 class="mb-4">Mes certifications</h3>

  <a href="doc/certificat/certificat-python.pdf" target="_blank" class="btn-cert btn-python m-2">
    Certification Python
  </a>
  <a href="doc/certificat/certificat-git.pdf" target="_blank" class="btn-cert btn-git m-2">
    Certification GIT
  </a>
  <a href="doc/certificat/certificat-SQL.pdf" target="_blank" class="btn-cert btn-sql m-2">
    Certification SQL
  </a>
</div>


</div>
