
<div class="container py-5">
  <div class="row align-items-center">
    <!-- Partie texte -->
    <div class="col-lg-6 mb-4" data-aos="fade-right" data-aos-delay="200">
     
      <h1 class="display-5 fw-bold mb-4"> Bonjour et bienvenue !</h1>
        <p class="lead text-muted mb-4">
        Étudiant en 2ème année de BTS SIO en alternance, 
        je consolide mes <strong>compétences en développement logiciel </strong> tout en <em>explorant</em> <strong> le monde de l'IoT </strong> et <strong>des systèmes embarqués</strong>, 
        des domaines qui m'intéressent car ils offrent de réelles perspectives d'avenir.
        </p>


      <p class="text-muted mb-4">
         Mon objectif pour la suite est d'intégrer une <em>école d'ingénieurs (ou un Master) </em> pour me spécialiser dans le <strong>Cloud IoT</strong>. 
         Je souhaite cultiver cette double compétence <strong>logiciel et matériel </strong> afin de concevoir et déployer des infrastructures cloud directement liées aux objets connectés.
      </p>

        <p class="text-muted mb-4">
          À travers ce portfolio  vous découvrirez mes <strong>projets</strong>, mes <strong>réalisations</strong> et mon <em>évolution technique</em>
        </p>


      <a href="index.html?page=Projets" class="btn btn-primary btn-lg px-4 me-2" data-aos="fade-up" data-aos-delay="500">
        Voir mes projets
      </a>
      <a href="index.html?page=Contact" class="btn btn-outline-secondary btn-lg px-4" data-aos="fade-up" data-aos-delay="600">
        Me contacter
      </a>
    </div>

    <!-- Partie image -->
    <div class="col-lg-6 text-center" data-aos="zoom-in" data-aos-delay="400">
      <img src="images/photo.png" alt="Photo de profil ou illustration" class="img-fluid rounded-4 shadow" style="max-height: 500px;">
    </div>
  </div>
</div>



<!-- bar de compétence  class="mb-3 p-2 border rounded" -->
 
<div data-aos="fade-up" data-aos-delay="200" class="container mt-5">
    <section class="mb-3 p-2 border rounded">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2 class="fw-semibold mb-4" data-aos="fade-up"> Mes compétences</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" data-aos="fade-up"> <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-plain.svg" alt="HTML5" style="height: 32px; margin-right: 10px;">
             HTML5</li>
          <li class="list-group-item" data-aos="fade-up"> <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain.svg" alt="CSS3" style="height: 32px; margin-right: 10px;">
             CSS3</li>
          <li class="list-group-item" data-aos="fade-up"> <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg" alt="JavaScript" style="height: 32px; margin-right: 10px;">
             JavaScript</li>
          <li class="list-group-item" data-aos="fade-up"> <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-plain.svg" alt="Python" style="height: 32px; margin-right: 10px;">
             Python</li>
          <li class="list-group-item" data-aos="fade-up"> <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-plain.svg" alt="PHP" style="height: 32px; margin-right: 10px;">
             PHP</li>
           <li class="list-group-item" data-aos="fade-up"> <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-line.svg" alt="C/C++" style="height: 32px; margin-right: 10px;">
             C/C++</li>  
            <li class="list-group-item" data-aos="fade-up"> <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original-wordmark.svg" alt="Java" style="height: 32px; margin-right: 10px;">
             Java</li>  
                     
        </ul>
      </div>
    </div>
  </section>



<!-- certificat & tableau de synthèse -->

<div class="container mt-5 mb-5 text-center">

  <h3 class="mb-4">Mes certifications & Tableau de synthèse des réalisations  </h3>

    <a href="doc/tableau_synthese/tableau_synthese_epreuve_E5.pdf" target="_blank" 
      class="btn-cert btn-sql m-2">
      Tableau de synthèse des réalisations professionnelles 
    </a>

  <a href="doc/certificat/certificat-python.pdf" target="_blank" class="btn-cert btn-python m-2">
    Certification Python
  </a>
  <a href="doc/certificat/certificat-git.pdf" target="_blank" class="btn-cert btn-git m-2">
    Certification GIT
  </a>

  <a href="doc/certificat/certificat-SQL.pdf" target="_blank" class="btn-cert btn-sql m-2">
    Certification SQL
  </a>



</div>


</div>
