<!-- SECTION : Formulaire de Contact -->
<section data-aos="fade-up" data-aos-delay="200" id="contact" class="contact-section py-5">
  <div class="container">
    <h2 class="text-center mb-4">Contactez-moi</h2>
    <p class="text-center text-muted mb-5">Une opportunité ? Une question ? N'hésitez pas à m'écrire !</p>

    <!-- Formulaire Formspree -->
    <form action="https://formspree.io/f/xjkagvdy" method="POST" class="mx-auto contact-form" style="max-width: 600px;">
      <div class="mb-3">
        <label for="name" class="form-label">Nom et Prénom </label>
        <input style="font-size: medium;" name="name" class="form-control" id="name" placeholder="Votre nom et prénom" required>
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Numéro de téléphone</label>
        <input type="tel" name="phone" class="form-control" id="phone" placeholder="Votre numéro de téléphone" pattern="^(\+33|0)[1-9](\s?\d{2}){4}$" required>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Adresse e-mail</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Votre adresse email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
      </div>

      <div class="mb-3">
        <label for="company" class="form-label">Entreprise</label>
        <input type="text" name="subject" class="form-control" id="company" placeholder="Le nom de votre entreprise..." required>
      </div>

      <div class="mb-3">
        <label for="subject" class="form-label">Sujet</label>
        <input type="text" name="subject" class="form-control" id="subject" placeholder="Proposition d'alternance/CDI/CDD, Entretien ..." required>
      </div>

      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea name="message" class="form-control" id="message" rows="5" placeholder="Écrivez votre message ici..." required></textarea>
      </div>

      <!-- Anti-spam (champ invisible) -->
      <input type="text" name="_gotcha" style="display:none">

      <!-- Message de confirmation -->
      <div id="confirmation" class="alert alert-success d-none" role="alert">
        Merci pour votre message ! Je vous répondrai dès que possible.
      </div>

      <button style="background-color: #89A7B1;" type="submit" class="btn btn-primary w-100 submit-btn">Envoyer</button>
    </form>
  </div>
</section>
